@import './colors.scss';

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;

    background-color: $theme-background-light;
    background-position: fixed;
    background-size: cover;
}

#inferno-host {
    min-height: 100%;
    position: relative;
}

.application-container {
    height: 1024px;
    display: flex;
    justify-content: stretch;
    flex-direction: column;

    & > :not([class*="container"]) {
        flex-grow: 0;
    }
    & > [class*="container"] {
        flex-grow: 1;
    }


}

@import url('https://fonts.googleapis.com/css?family=Lato');

html, input, pre {
    font-family: Lato, monospace;
}

