$theme-border-light: #666666;
$theme-border-dark: #222222;
$theme-border-mid: #444444;
$theme-background-light: #FFFFFF;
$theme-foreground-light: #FFFFFF;
$theme-background-dark: #333333;

$gu: 12px;

