$theme-border-light: #666666;
$theme-border-dark: #222222;
$theme-border-mid: #444444;
$theme-background-light: #FFFFFF;
$theme-foreground-light: #FFFFFF;
$theme-background-dark: #333333;

$discord-color: #7289DA;
$slack-color: #CE1F5B;
$irc-color:  #78D4B6;
$unrecognized-color: #666666;


$gu: 12px;

