$theme-border-light: #E3D0FF;
$theme-box-shadow: #F4F5FA;
$theme-foreground-dark: #43467F;
$theme-foreground-light: #9C6ADE;
$theme-foreground-extra-light: #D2B6FF;
$theme-background-light: #FFFFFF;

$discord-color: #7289DA;
$slack-color: #CE1F5B;
$irc-color:  #78D4B6;
$unrecognized-color: #666666;


$gu: 12px;
$mobile-breakpoint: 600px;
