@import 'colors.scss';

.qdb-header {
    text-align: center;
    padding-top: 74px;
    
    .qdb-header-name {
        color: $theme-foreground-dark;
        font-weight: bold;
        font-size: 2em;
        
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    
    .qdb-header-slogan {
        color: $theme-foreground-light;
        font-size: 1em;
    }
}