@import "colors.scss";

.main-container {
    background-color: $theme-background-light;
    background-position: fixed;
    background-size: cover;
    
    .load-more {
        width: 100%;
        max-width: 400px;
        margin: 40px;
        height: 40px;
        background-color: $theme-foreground-light;
        color: $theme-background-light;
        border-style: none;
        cursor: pointer;
    }
}


.quote-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: middle;
    justify-content: center;

    padding: 2 * $gu;
    max-width: 800px;
    margin: 0 auto 0 auto;
}