@import "colors.scss";

.main-container {
    
    .load-more {
        width: 100%;
        max-width: 1000px;
        margin: 40px;
        height: 40px;
        background-color: $theme-background-light;
        color: $theme-background-dark;
        border-style: solid;
        border-color: $theme-background-dark;
    }

    .quote-container {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: middle;
        justify-content: center;

        padding: 2 * $gu;
        max-width: 1600px;
        margin: 0 auto 0 auto;
    }
}
