@import 'colors.scss';

.nav-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $theme-border-light;
    top: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 1000px;
    padding: 0 $gu;
    background-color: $theme-background-light;
    
    .nav-links {
        display: inline-block;
        list-style: none;
        height: 100%;
    }
    
    .nav-link-item {
        display: inline-flex;
        height: 100%;
        align-items: center;
    }
    
    .nav-link-item a {
        font-weight: bold;
        color: $theme-foreground-dark;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    }

    .nav-link-item a .fa {
        display: none;
    }
    
    .nav-link-item a:hover {
        color: $theme-background-light;
        background-color: $theme-foreground-dark;
    }
}

@media (max-width: $mobile-breakpoint) {
    .nav-container {
        .nav-link-item {
            position: relative;
            width: 50px;
            overflow: hidden;
        }

        .nav-link-item a {
            font-size: 0;
        }

        .nav-link-item a .fa {
            display: initial;
            font-size: initial;
        }
    }
}
