@import 'colors.scss';

.paste-box {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;

    &.discord {
        .paste-box-input {
            outline-color: $discord-color;
        }

        .paste-box-name {
            color: $discord-color;
        }
    }

    &.slack {
        .paste-box-input {
            outline-color: $slack-color;
        }

        .paste-box-name {
            color: $slack-color;
        }
    }

    &.irc {
        .paste-box-input {
            outline-color: $irc-color;
        }

        .paste-box-name {
            color: $irc-color;
        }
    }
    
    &.unrecognized {
        .paste-box-input {
            outline-color: $unrecognized-color;
        }

        .paste-box-name {
            color: $unrecognized-color;
        }
    }

    .paste-box-input {
        outline: 5px solid transparent;
        padding: $gu;
        width: 600px;
        resize: vertical;
    }
    
    .paste-submit {
        width: 100%;
        margin-top: 5px;
        height: 40px;
        background-color: $theme-background-light;
        color: $theme-foreground-dark;
        border-style: solid;
        border-color: $theme-border-light;
    }

}