@import 'colors.scss';

.paste-box {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 50%;
    width: 50%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .paste-box-name {
        width: 100%;
    }

    &.discord {
        .paste-box-input {
            border-color: $discord-color;
        }

        .paste-box-name {
            color: $discord-color;
        }
    }

    &.slack {
        .paste-box-input {
            border-color: $slack-color;
        }

        .paste-box-name {
            color: $slack-color;
        }
    }

    &.irc {
        .paste-box-input {
            border-color: $irc-color;
        }

        .paste-box-name {
            color: $irc-color;
        }
    }

    &.unrecognized {
        .paste-box-input {
            border-color: $unrecognized-color;
        }

        .paste-box-name {
            color: $unrecognized-color;
        }
    }

    .paste-and-preview {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .paste-box-input-wrapper, .paste-box-preview-wrapper  {
        width: 48%;
        background-color: $theme-background-light;
        padding: 20px;
    }

    .paste-box-input-wrapper {
        display: flex;
        flex-direction: column;
    }

    .paste-box-preview-wrapper {
        overflow-y: scroll;

        .quote {
            margin: 0;
            box-shadow: none;
        }
    }

    .paste-box-input {
        width: 100%;
        border: 5px solid;
        outline: none;
        padding: $gu;
        overflow: auto;
        max-height: 100%;
        resize: vertical;
    }

    .paste-submit {
        flex-shrink: 0;
        width: 100%;
        margin-top: 5px;
        height: 40px;
        background-color: $theme-background-light;
        color: $theme-foreground-dark;
        border-style: solid;
        border-color: $theme-border-light;
        transition:
            background-color 0.2s ease-in-out,
            color 0.2s ease-in-out,
            border-color 0.2s ease-in-out;
    }

    .paste-submit:enabled:hover {
        background-color: $theme-foreground-light;
        color: $theme-background-light;
        border-color: $theme-foreground-light;
        cursor: pointer;
    }

}
