@import "colors.scss";

$iconsize: 64px;
$ratio: 2.8284271247 / 2;

.quote {

    &.discord {
        .quote-body {
            outline-color: $discord-color;
        }
    }

    &.slack {
        .quote-body {
            outline-color: $slack-color;
        }
    }

    &.irc {
        .quote-body {
            outline-color: $irc-color;
        }
    }
    
    &.unrecognized {
        .quote-body {
            outline-color: $unrecognized-color;
        }
    }

    & {
        margin: $gu;
        width: 100%;
        width: 600px;
        position: relative;
        margin-bottom: 2 * $gu;
    

        display: flex;
        align-items: flex-end;
    }

    .quote-body {
        width: 100%;
        padding: 2 * $gu;
        background-color: $theme-background-light;
        outline: 2px solid transparent;
    }

    .quote-profile-icon {
        border-radius: 50%;
        width: $iconsize;
        height: $iconsize;
        flex-shrink: 0;
        transform: translate(0.9 * $gu, -0.9 * $gu);
    }

    .quote-timestamp {
        font-style: italic;
        text-align: right;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 0.5 * $gu;
        opacity: 0.5;
        color: $theme-foreground-light;
    }

    .quote-text {
        display: block;
        margin-bottom: $gu;
        background-color: $theme-background-light;
    }

}

.quote-segment {

    &-icon {
        border-radius: 2px;
        width: 3 * $gu;
        height: 3 * $gu;
        float: left;
        margin-right: $gu;
    }

    &-speaker {
        display: block;
        font-weight: bold;
        font-style: none;
    }

    &-body {
        display: inline-block;
    }

    &.follow &-body {
        margin-left: 4 * $gu;
    }
}