@import "colors.scss";

$iconsize: 64px;
$ratio: 2.8284271247 / 2;

.quote {
    /*
    &.discord {
        .quote-body {
            border-color: $discord-color;
        }
    }

    &.slack {
        .quote-body {
            border-color: $slack-color;
        }
    }

    &.irc {
        .quote-body {
            border-color: $irc-color;
        }
    }

    &.unrecognized {
        .quote-body {
            border-color: $unrecognized-color;
        }
    }
    */

    & {
        margin: $gu;
        width: 100%;
        max-width: 800px;
        position: relative;
        border-style: solid;
        border-width: 1px;
        border-color: $theme-border-light;
        box-shadow: 8px 8px $theme-box-shadow;
    }

    .quote-body {
        width: 100%;
        padding: 2 * $gu;
        background-color: $theme-background-light;
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: $theme-border-light;
    }

    .quote-timestamp {
        display: block;
        font-style: italic;
        text-align: right;
        color: $theme-foreground-extra-light;
        padding: 5px;

        a {
            text-decoration: none;
            color: $theme-foreground-light;
        }
    }

    .quote-text {
        display: block;
        margin-bottom: $gu;
        background-color: $theme-background-light;
    }

}

.quote-segment {
    &-speaker {
        display: block;
        font-weight: bold;
        font-style: normal;
        margin-top: 10px;
    }

    &-body {
        display: inline-block;
    }
}
