@import "colors.scss";

.searchbar {
    display: inline-block;
    position: relative;
    margin-left: auto;
    padding: 1px;
    background-color: $theme-border-light;
}

.searchbar-input {
    display: inline-block;
    position: relative;
    outline: none;
    border: none;
    width: 200px;
    padding: 5px;
    background-color: $theme-border-light;
    color: $theme-foreground-dark;
}

.searchbar-icon {
    color: $theme-foreground-light;
    padding: 5px;
}