@import "colors.scss";

.searchbar {
    display: inline-block;
    margin-left: auto;
    padding: 1px;
}

.searchbar-input {
    display: inline-block;
    outline: none;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: $theme-border-light;
    width: 200px;

    padding: 0.5 * $gu;
    font-size: $gu;

    position: relative;

    &:focus{
        border-color: $theme-border-mid;
    }

    transition: border-color 0.2s;

}
